.footer-section-one--reference__image {
  width: auto;
  height: 70px;
  padding: 8px;
}

.footer-section__links {
  list-style: none;
  line-height: 29px;
}

.footer-section--blog-link {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: block;
}

.eet-block {
  font-size: $shop-xsmall-font-size;
}

.footer-brand-item-image {
  filter: grayscale(1);
  opacity: 0.5;
  transition: 0.3s linear;

  &:hover {
    filter: grayscale(0);
    opacity: 1;
  }
}
