#header {
  background-color: $shop-white-color;
}

.site-logo {
  height: 55px;
}

.topbar-info {
  color: $shop-dark-brown-color;
  font-size: 0.8rem;
}

.topbar-info--link {
  color: $shop-dark-brown-color;

  &:hover {
    color: $shop-dark-brown-color;
    text-decoration: underline;
  }
}

#search-area--input {
  width: 250px;
  transition: all 0.2s linear;
}

#search-area--input:focus {
  width: 600px;
}

.search-area--search-button {
  margin-left: -48px;
}

.search-area--icon {
  font-size: 1.4rem;
  color: $shop-light-brown-color;
}

.search-area--count-circle {
  width: 22px;
  height: 22px;
  border: 0;
  font-size: 11px;
  line-height: 22px;
  border-radius: 12px;
  background-color: #f05a67;
  top: 9px;
  right: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  text-align: center;
  color: #fff;
  position: absolute;
  font-family: $shop-secondary-font-family;
}

.main-nav {
  width: 100%;
  background-color: $shop-dark-brown-color;
  overflow: auto;
}

.main-nav--item {
  font-size: 17px;
  width: 14.28%;
  text-align: center;
  border-right: 1px solid #342925;
}

.main-nav--item:last-child {
  border-right: unset;
}

.main-nav--item a {
  color: white;
  text-decoration: none;
}

.main-nav a:hover {
  background-color: $shop-light-brown-color;
}

.main-nav a.active {
  background-color: $shop-light-brown-color;
}

@media screen and (max-width: 600px) {
  .main-nav--item {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}
