body,
html {
  padding: 0;
  margin: 0;
}

body {
  font-family: $shop-main-font-family;
  font-weight: normal;
  line-height: 1.2;
  font-size: $shop-base-font-size;
}

.bg-gray {
  background-color: #eeeded;
}

:focus {
  outline: none;
}

.content-padding {
  padding-top: 139px;
}

.bg-dark-brown {
  background-color: $shop-dark-brown-color;
}

.bg-light-brown {
  background-color: $shop-light-brown-color;
}

.no-hover-underline:hover {
  text-decoration: none !important;
}

.text-dark-brown {
  color: $shop-dark-brown-color;

  &:hover {
    color: $shop-dark-brown-color;
  }
}

.text-light-brown {
  color: $shop-light-brown-color;

  &:hover {
    color: $shop-light-brown-color;
  }
}

.btn-outline-secondary {
  border: 1px solid $shop-light-gray-color;
}

.btn-outline-secondary:hover {
  background-color: unset;
}

@media (min-width: 1200px) {
  .container-fluid {
    max-width: 1540px;
  }
}
