</div>
<footer>
    <div class="container-fluid p-0">
        <div class="row m-0 my-1">
            <div class="col-12 mb-3">
                <div class="top-category text-center text-xl-left">
                    <span class="top-category--heading text-dark-brown font-weight-bold pr-2">Oblíbené kategorie:</span>
                    <a class="top-category--link text-light-brown p-2 d-inline-block" href="#">Dámské parfémy</a>
                    <a class="top-category--link text-light-brown p-2 d-inline-block" href="#">Pánské parfémy</a>
                    <a class="top-category--link text-light-brown p-2 d-inline-block" href="#">Hodinky</a>
                    <a class="top-category--link text-light-brown p-2 d-inline-block" href="#">Šperky</a>
                    <a class="top-category--link text-light-brown p-2 d-inline-block" href="#">Dárky pro ženy</a>
                    <a class="top-category--link text-light-brown p-2 d-inline-block" href="#">Dárky pro muže</a>
                    <a class="top-category--link text-light-brown p-2 d-inline-block" href="#">Kožené peněženky</a>
                    <a class="top-category--link text-light-brown p-2 d-inline-block" href="#">Luxusní spodní prádlo</a>
                    <a class="top-category--link text-light-brown p-2 d-inline-block" href="#">Kabelky</a>
                </div>
            </div>
        </div>
        <div class="row m-0 my-1 bg-gray mx-0 mx-lg-3 px-0 px-lg-3">
            <div class="col-12 col-md-6 col-xl-3 my-4">
                <div class="footer-section-one text-center text-lg-left">
                    <div class="mb-4">
                        <h3 class="footer-section-one--heading h5"><a
                               class="footer-section-one--heading__link text-dark-brown font-weight-bold"
                               href="#">Objednávky a
                                dotazy</a></h3>
                    </div>
                    <div
                         class="footer-section-one--opening-time infobox d-flex py-2 align-items-center justify-content-center justify-content-lg-start">
                        <span class="icon d-inline-block pr-3"><i class="fas fa-clock"></i></span>
                        <span class="value d-inline-block">Po-Pá 8-20 hod.<br />So-Ne 10-18 hod</span>
                    </div>
                    <div
                         class="footer-section-one--phone infobox d-flex py-2 align-items-center justify-content-center justify-content-lg-start">
                        <span class="icon d-inline-block pr-3"><i class="fas fa-phone"></i></span>
                        <span class="value d-inline-block">468 006 315</span>
                    </div>
                    <div
                         class="footer-section-one--mail infobox d-flex py-2 align-items-center justify-content-center justify-content-lg-start">
                        <span class="icon d-inline-block pr-3"><i class="fas fa-envelope"></i></span>
                        <span class="value d-inline-block"><a class="text-dark-brown"
                               href="mailto:info@vivantis.cz">info@vivantis.cz</a></span>
                    </div>
                    <div class="footer-section-one--reference p-4 text-center text-lg-left">
                        <a class="no-hover-underline" href="#">
                            <img class="footer-section-one--reference__image" src="/img/ref-01.png" alt="ref">
                        </a>
                        <a class="no-hover-underline" href="#">
                            <img class="footer-section-one--reference__image" src="/img/ref-02.png" alt="ref">
                        </a>
                        <a class="no-hover-underline" href="#">
                            <img class="footer-section-one--reference__image" src="/img/ref-03.png" alt="ref">
                        </a><br />
                        <a class="no-hover-underline" href="#">
                            <img class="footer-section-one--reference__image" src="/img/ref-04.png" alt="ref">
                        </a>
                        <a class="no-hover-underline" href="#">
                            <img class="footer-section-one--reference__image" src="/img/ref-05.png" alt="ref">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3 my-4">
                <div class="footer-section-two text-center text-lg-left">
                    <div class="mb-4">
                        <h3 class="footer-section-two--heading h5 text-dark-brown font-weight-bold">Pro zákazníky</h3>
                    </div>
                    <div class="footer-section-two--links">
                        <ul class="footer-section__links p-0 text-center text-lg-left">
                            <li><a class="text-light-brown " href="#">Kontakty</a></li>
                            <li><a class="text-light-brown" href="#">#bytsamsebou</a></li>
                            <li><a class="text-light-brown" href="#">Proč si vybrat u nás</a></li>
                            <li><a class="text-light-brown" href="#">Výdejní místo s prodejnou Praha</a></li>
                            <li><a class="text-light-brown" href="#">Rady nakupujícím</a></li>
                            <li><a class="text-light-brown" href="#">Vrácení a reklamace</a></li>
                            <li><a class="text-light-brown" href="#">Obchodní podmínky</a></li>
                            <li><a class="text-light-brown" href="#">Dopravní a dodací podmínky</a></li>
                            <li><a class="text-light-brown" href="#">Nastavení soukromí</a></li>
                            <li><a class="text-light-brown" href="#">Ochrana osobních údajů</a></li>
                            <li><a class="text-light-brown" href="#">Správa osobních údajů</a></li>
                            <li><a class="text-light-brown" href="#">Dárkové poukazy</a></li>
                            <li><a class="text-light-brown" href="#">Puncovní značky</a></li>
                        </ul>
                    </div>
                    <div class="mb-4">
                        <h3 class="footer-section-two--heading h5 text-dark-brown font-weight-bold">Pro partnery</h3>
                    </div>
                    <div class="footer-section-two--links">
                        <ul class="footer-section__links p-0 text-center text-lg-left">
                            <li><a class="text-light-brown " href="#">Affiliate</a></li>
                            <li><a class="text-light-brown" href="#">Velkoobchod</a></li>
                            <li><a class="text-light-brown" href="#">Ochrana osobních údajů dodavatelů</a></li>
                            <li><a class="text-light-brown" href="#">Dárkové poukazy</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-12 col-md-6 col-xl-3 my-4">
                <div class="footer-section-three text-center text-lg-left">
                    <div class="mb-4">
                        <h3 class="footer-section-three--heading h5"><a
                               class="footer-section-three--heading__link text-dark-brown font-weight-bold"
                               href="#">Lifestylový magazín</a></h3>
                    </div>
                    <div class="footer-section-three--links">
                        <ul class="footer-section__links p-0 text-center text-lg-left">
                            <li><a class="text-dark-brown footer-section--blog-link" href="#"><i
                                       class="fas fa-chevron-circle-right pr-3"></i>Jak vybrat ideální
                                    kabelku</a></li>
                            <li><a class="text-dark-brown footer-section--blog-link" href="#"><i
                                       class="fas fa-chevron-circle-right pr-3"></i>Jak na dokonalý make-up:
                                    Tajemství
                                    kouřových stínů</a></li>
                            <li><a class="text-dark-brown footer-section--blog-link" href="#"><i
                                       class="fas fa-chevron-circle-right pr-3"></i>Být chic je v módě: Jak
                                    uvázat
                                    kravatu a motýlka podle etikety</a></li>
                            <li><a class="text-dark-brown footer-section--blog-link" href="#"><i
                                       class="fas fa-chevron-circle-right pr-3"></i>Nebojte se zapojit moderní
                                    technologie do péče o pleť</a></li>
                            <li><a class="text-dark-brown footer-section--blog-link" href="#"><i
                                       class="fas fa-chevron-circle-right pr-3"></i>Další...</a></li>
                        </ul>
                    </div>
                    <div class="mb-4">
                        <h3 class="footer-section-three--heading h5 text-dark-brown font-weight-bold">O společnosti</h3>
                    </div>
                    <div class="footer-section-three--links">
                        <ul class="footer-section__links p-0 text-center text-lg-left">
                            <li><a class="text-light-brown " href="#">Informace a historie</a></li>
                            <li><a class="text-light-brown" href="#">Obchodní kontakty</a></li>
                            <li><a class="text-light-brown" href="#">Kariéra</a></li>
                            <li><a class="text-light-brown" href="#">Pomáháme</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3 my-4">
                <div class="footer-section-three text-center text-lg-left border border-secondary">
                    <div class="discount-box bg-white p-3">
                        <h3 class="discount-heading h5 text-center text-lg-left">Slevy do mailu</h3>
                        <p class="discount-text text-center text-lg-left">Žhavé fashion a beauty novinky, akce, slevy a
                            dárky přímo ve vaší
                            schránce.</p>
                        <div class="discount-form input-group mb-3">
                            <input class="form-control" type="text" placeholder="Vložte váš email">
                            <div class="input-group-append">
                                <button class="btn btn-secondary bg-dark-brown" type="button">Přihlásit</button>
                            </div>
                        </div>
                        <small>* Vložením mého e-mailu souhlasím se zpracováním <a class="text-light-brown"
                               href="#">osobních údajů</a></small>
                    </div>

                </div>
                <div class="fb-box my-3 text-center overflow-hidden">
                    <div class="fb-page" data-href="https://www.facebook.com/vivantis/" data-width="380"
                         data-hide-cover="false" data-show-facepile="false"></div>
                </div>
            </div>
        </div>
        <div class="eet-block row m-0 my-1 mx-0 mx-lg-3 px-0 px-lg-3 p-2 text-center text-lg-left">
            <p class="d-block m-0">Podle zákona o evidenci tržeb je prodávající povinen vystavit kupujícímu účtenku.
                Zároveň je povinen zaevidovat přijatou tržbu u správce daně online; v případě technického výpadku pak
                nejpozději do 48 hodin.</p>
        </div>


    </div>
    <div class="bg-gray mb-3">
        <div class="container-fluid p-0">
            <div class="row m-0 my-1 mx-0 mx-lg-3 px-0 px-lg-3 p-2 text-center text-lg-left">
                <div class="paragraph w-100">
                    <p>Hrdý člen skupiny MALL Group</p>
                </div>
                <div class="footer-brand d-block d-xl-flex flex-row justify-content-between w-100 pb-3 text-center">
                    <div class="footer-brand-item d-inline-block p-2">
                        <a href="#">
                            <img class="footer-brand-item-image" src="/img/br-01.svg" alt="bra" />
                        </a>
                    </div>
                    <div class="footer-brand-item d-inline-block p-2">
                        <a href="#">
                            <img class="footer-brand-item-image" src="/img/br-02.svg" alt="bra" />
                        </a>
                    </div>
                    <div class="footer-brand-item d-inline-block p-2">
                        <a href="#">
                            <img class="footer-brand-item-image" src="/img/br-03.svg" alt="bra" />
                        </a>
                    </div>
                    <div class="footer-brand-item d-inline-block p-2">
                        <a href="#">
                            <img class="footer-brand-item-image" src="/img/br-04.svg" alt="bra" />
                        </a>
                    </div>
                    <div class="footer-brand-item d-inline-block p-2">
                        <a href="#">
                            <img class="footer-brand-item-image" src="/img/br-05.svg" alt="bra" />
                        </a>
                    </div>
                    <div class="footer-brand-item d-inline-block p-2">
                        <a href="#">
                            <img class="footer-brand-item-image" src="/img/br-06.svg" alt="bra" />
                        </a>
                    </div>
                    <div class="footer-brand-item d-inline-block p-2">
                        <a href="#">
                            <img class="footer-brand-item-image" src="/img/br-07.svg" alt="bra" />
                        </a>
                    </div>
                    <div class="footer-brand-item d-inline-block p-2">
                        <a href="#">
                            <img class="footer-brand-item-image" src="/img/br-08.svg" alt="bra" />
                        </a>
                    </div>
                    <div class="footer-brand-item d-inline-block p-2">
                        <a href="#">
                            <img class="footer-brand-item-image" src="/img/br-09.svg" alt="bra" />
                        </a>
                    </div>
                    <div class="footer-brand-item d-inline-block p-2">
                        <a href="#">
                            <img class="footer-brand-item-image" src="/img/br-10.svg" alt="bra" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>