<header>
  <div id="header" class="container-fluid p-0 fixed-top px-lg-3">
    <div class="row m-0">
      <div class="col-xl-4 text-center text-xl-left">
        <a href="#">
          <img class="site-logo my-3 img-fluid" src="/img/logo_vivantis-cz.svg" alt="Vivantis.cz - Být sám sebou" />
        </a>
      </div>
      <div class="col-xl-8 d-none d-xl-block ">
        <div class="topbar-info p-2 text-right d-none d-xl-block" title="Objednávky a dotazy">
          <span class="mail pr-2">
            <i class="fas fa-envelope fa-fw"></i>
            <a class="topbar-info--link" href="mailto:info@vivantis.cz">info@vivantis.cz</a>
          </span>
          <span class="time pr-2">
            <i class="fas fa-clock fa-fw"></i>
            8-20 hod.
          </span>
          <span class="phone">
            <i class="fas fa-phone fa-fw"></i>
            <a class="topbar-info--link" href="tel:468006315">468 006 315</a>
          </span>
        </div>
        <div class="search-area p-2">
          <form class="form-inline justify-content-end m-0">
            <input id="search-area--input" type="text" class="form-control" placeholder="Zadejte hledaný text" />
            <button type="submit" class="btn search-area--search-button">
              <i class="fas fa-search search-area--icon"></i>
            </button>
            <a href="#" class="btn btn-outline-secondary mx-3 search-area--favourite-btn position-relative px-3"><i
                 class="fas fa-heart search-area--icon"><span class="search-area--count-circle">0</span></i></a>
            <a href="#" class="btn btn-outline-secondary search-area--cart-btn position-relative px-3"><i
                 class="fas fa-shopping-cart search-area--icon"><span class="search-area--count-circle">0</span></i></a>
          </form>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg p-0 bg-dark-brown p-2 p-lg-0">
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar">
        <i class="fas fa-bars text-white"></i>
      </button>

      <div class="navbar-collapse collapse" id="navbar">
        <ul class="navbar-nav main-nav">
          <li class="nav-item main-nav--item">
            <a class="d-block p-3 font-weight-bold" href="#">INSPIRACE</a>
          </li>
          <li class="nav-item main-nav--item">
            <a class="d-block p-3 font-weight-bold" href="#">ŽENY</a>
          </li>
          <li class="nav-item main-nav--item">
            <a class="d-block p-3 font-weight-bold" href="#">MUŽI</a>
          </li>
          <li class="nav-item main-nav--item">
            <a class="d-block p-3 font-weight-bold" href="#">DĚTI</a>
          </li>
          <li class="nav-item main-nav--item">
            <a class="d-block p-3 font-weight-bold" href="#">NOVINKY</a>
          </li>
          <li class="nav-item main-nav--item">
            <a class="d-block p-3 font-weight-bold" href="#">SLEVY</a>
          </li>
          <li class="nav-item main-nav--item">
            <a class="d-block p-3 font-weight-bold" href="#">ZNAČKY</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<div id="content" class="content-padding">