/* Base shop options */
$shop-base-spacer: 1rem;
$shop-base-font-size: 1rem;
$shop-small-font-size: 0.9rem;
$shop-xsmall-font-size: 0.72rem;

/* Base shop colors */
$shop-black-color: #111;
$shop-white-color: #fff;
$shop-light-brown-color: #dca16b;
$shop-dark-brown-color: #4d413d;
$shop-light-gray-color: #ced4da;
$shop-rose-color: #f05a66;
$shop-dark-rose-color: #bf396b;
$shop-green-color: #7db44c;
$shop-blue-color: #73aef4;

/* Base shop fonts */
$shop-main-font-family: Pluto;
$shop-secondary-font-family: Arial, sans-serif;
