.blog-hover-card--title {
  bottom: 30px;
  z-index: 10;
  pointer-events: none;
}

.blog-hover-card:hover > .blog-hover-card--color-overlay {
  opacity: 0.7;
}

.blog-hover-card--title--button {
  pointer-events: auto;
  background-color: $shop-rose-color;

  &:hover {
    background-color: $shop-dark-rose-color;
  }
}

.blog-hover-card--color-overlay {
  top: 0px;
  width: 100%;
  height: 100%;
  background: $shop-dark-brown-color;
  opacity: 0;
  position: absolute;
  pointer-events: none;
  transition: 0.3s linear;
}
