.product-block {
  font-size: $shop-small-font-size;
  border-bottom: 4px solid lightgray;
}

.product-block--product-info__delivery {
  color: $shop-green-color;
  font-family: $shop-secondary-font-family;
}

.product-info-novinka {
  color: white;
  background-color: $shop-green-color;
  font-family: $shop-secondary-font-family;
  font-size: $shop-small-font-size;
}

.product-info-doprava-zdarma {
  color: white;
  background-color: $shop-blue-color;
  font-family: $shop-secondary-font-family;
  font-size: $shop-small-font-size;
}

.product-block--product-title__item {
  font-size: $shop-xsmall-font-size;
}

.product-block--product-variant {
  position: absolute;
  width: 100%;
  bottom: 0px;
  pointer-events: none;
  visibility: hidden;
}

.product-block--product-variant__size {
  pointer-events: auto;
  z-index: 10;
}

.product-block--color-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $shop-dark-brown-color;
  opacity: 0;
  top: 0px;
  pointer-events: none;
  transition: 0.3s linear;
}

.product-block:hover {
  border-bottom: 4px solid $shop-dark-brown-color;
}

.product-block:hover > .product-block--product-variant,
.product-block:hover > .product-block--add-to-favourite {
  visibility: visible;
}

.product-block:hover > .product-block--color-overlay {
  opacity: 0.05;
}

.product-block--add-to-favourite {
  position: absolute;
  top: 10px;
  right: 10px;
  visibility: hidden;
}

.product-block--add-to-favourite__link {
  color: $shop-light-brown-color;
  &:hover {
    color: $shop-rose-color;
  }
}

@media (max-width: 768px) {
  .product-block--product-variant,
  .product-block--add-to-favourite {
    visibility: visible;
  }
}
