.carousel--tab-link {
  max-width: 20%;
  border-right: 1px solid $shop-light-gray-color;
}

.carousel--tab-link.active:before {
  content: "";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 20px 24px 20px 0;
  border-color: transparent white transparent transparent;
  transform: rotate(90deg);
  top: -32px;
  position: absolute;
}

.carousel--tab-link a {
  color: $shop-dark-brown-color;
  font-size: $shop-small-font-size;
}

.carousel--tab-link:last-child {
  border-right: unset;
}

.carousel--navigation {
  border: 1px solid $shop-light-gray-color;
  border-radius: 0 0 10px 10px;
  border-top: unset;
}

.banners--item {
  border: 1px solid $shop-light-gray-color;
}
