<div class="container-fluid p-0">
  <div class="row m-0 my-4 pb-4">

    <div class="col-12 col-md-4 mb-3">
      <div class="blog-hover-card text-center position-relative">
        <a class="blog-hover-card--link" href="#">
          <img class="blog-hover-card--image w-100" src="/img/blg-01.jpeg" alt="card-img" />
        </a>
        <div class="blog-hover-card--title position-absolute w-100">
          <h3>
            <span class="blog-hover-card--title--text text-white font-weight-bold">Business styl</span>
          </h3>
          <a class="btn blog-hover-card--title--button text-white font-weight-bold" href="#">Nová inspirace</a>
        </div>
        <div class="blog-hover-card--color-overlay"></div>
      </div>
    </div>

    <div class="col-12 col-md-4 mb-3">
      <div class="blog-hover-card text-center position-relative">
        <a class="blog-hover-card--link" href="#">
          <img class="blog-hover-card--image w-100" src="/img/blg-02.jpeg" alt="card-img" />
        </a>
        <div class="blog-hover-card--title position-absolute w-100">
          <h3>
            <span class="blog-hover-card--title--text text-white font-weight-bold">Den s RYORem</span>
          </h3>
          <a class="btn blog-hover-card--title--button text-white font-weight-bold" href="#">Nová fashion story</a>
        </div>
        <div class="blog-hover-card--color-overlay"></div>
      </div>
    </div>

    <div class="col-12 col-md-4 mb-3">
      <div class="blog-hover-card text-center position-relative">
        <a class="blog-hover-card--link" href="#">
          <img class="blog-hover-card--image w-100" src="/img/blg-03.jpeg" alt="card-img" />
        </a>
        <div class="blog-hover-card--title position-absolute w-100">
          <h3>
            <span class="blog-hover-card--title--text text-white font-weight-bold">Až se jaro zeptá</span>
          </h3>
          <a class="btn blog-hover-card--title--button text-white font-weight-bold" href="#">Nová inspirace</a>
        </div>
        <div class="blog-hover-card--color-overlay"></div>
      </div>
    </div>

  </div>
</div>