<div class="container-fluid p-0">
  <div class="row m-0 my-4">
    <div class="col-12">
      <div class="branding-header">
        <h5>
          <span class="font-weight-bold text-light-brown">Oblíbené značky:</span>
        </h5>
      </div>
    </div>
  </div>
  <div class="row m-0 my-2">
    <div class="col-4 col-md-2 col-lg-1 p-1">
      <a href="#">
        <img class="img-fluid px-3" src="/img/logo-01.jpg" alt="logo" />
      </a>
    </div>
    <div class="col-4 col-md-2 col-lg-1 p-1">
      <a href="#">
        <img class="img-fluid px-3" src="/img/logo-02.jpg" alt="logo" />
      </a>
    </div>
    <div class="col-4 col-md-2 col-lg-1 p-1">
      <a href="#">
        <img class="img-fluid px-3" src="/img/logo-03.jpg" alt="logo" />
      </a>
    </div>
    <div class="col-4 col-md-2 col-lg-1 p-1">
      <a href="#">
        <img class="img-fluid px-3" src="/img/logo-04.jpg" alt="logo" />
      </a>
    </div>
    <div class="col-4 col-md-2 col-lg-1 p-1">
      <a href="#">
        <img class="img-fluid px-3" src="/img/logo-05.jpg" alt="logo" />
      </a>
    </div>
    <div class="col-4 col-md-2 col-lg-1 p-1">
      <a href="#">
        <img class="img-fluid px-3" src="/img/logo-06.jpg" alt="logo" />
      </a>
    </div>
    <div class="col-4 col-md-2 col-lg-1 p-1">
      <a href="#">
        <img class="img-fluid px-3" src="/img/logo-07.jpg" alt="logo" />
      </a>
    </div>
    <div class="col-4 col-md-2 col-lg-1 p-1">
      <a href="#">
        <img class="img-fluid px-3" src="/img/logo-08.jpg" alt="logo" />
      </a>
    </div>
    <div class="col-4 col-md-2 col-lg-1 p-1">
      <a href="#">
        <img class="img-fluid px-3" src="/img/logo-09.jpg" alt="logo" />
      </a>
    </div>
    <div class="col-4 col-md-2 col-lg-1 p-1">
      <a href="#">
        <img class="img-fluid px-3" src="/img/logo-10.jpg" alt="logo" />
      </a>
    </div>
    <div class="col-4 col-md-2 col-lg-1 p-1">
      <a href="#">
        <img class="img-fluid px-3" src="/img/logo-11.jpg" alt="logo" />
      </a>
    </div>
    <div class="col-4 col-md-2 col-lg-1 p-1">
      <a href="#">
        <img class="img-fluid px-3" src="/img/logo-12.jpg" alt="logo" />
      </a>
    </div>
  </div>
  <div class="row m-0 my-2 d-none d-md-flex">
    <div class="col-4 col-md-2 col-lg-1 p-1">
      <a href="#">
        <img class="img-fluid px-3" src="/img/logo-13.jpg" alt="logo" />
      </a>
    </div>
    <div class="col-4 col-md-2 col-lg-1 p-1">
      <a href="#">
        <img class="img-fluid px-3" src="/img/logo-14.jpg" alt="logo" />
      </a>
    </div>
    <div class="col-4 col-md-2 col-lg-1 p-1">
      <a href="#">
        <img class="img-fluid px-3" src="/img/logo-15.jpg" alt="logo" />
      </a>
    </div>
    <div class="col-4 col-md-2 col-lg-1 p-1">
      <a href="#">
        <img class="img-fluid px-3" src="/img/logo-16.jpg" alt="logo" />
      </a>
    </div>
    <div class="col-4 col-md-2 col-lg-1 p-1">
      <a href="#">
        <img class="img-fluid px-3" src="/img/logo-17.jpg" alt="logo" />
      </a>
    </div>
    <div class="col-4 col-md-2 col-lg-1 p-1">
      <a href="#">
        <img class="img-fluid px-3" src="/img/logo-18.jpg" alt="logo" />
      </a>
    </div>
    <div class="col-4 col-md-2 col-lg-1 p-1">
      <a href="#">
        <img class="img-fluid px-3" src="/img/logo-19.jpg" alt="logo" />
      </a>
    </div>
    <div class="col-4 col-md-2 col-lg-1 p-1">
      <a href="#">
        <img class="img-fluid px-3" src="/img/logo-20.jpg" alt="logo" />
      </a>
    </div>
    <div class="col-4 col-md-2 col-lg-1 p-1">
      <a href="#">
        <img class="img-fluid px-3" src="/img/logo-21.jpg" alt="logo" />
      </a>
    </div>
    <div class="col-4 col-md-2 col-lg-1 p-1">
      <a href="#">
        <img class="img-fluid px-3" src="/img/logo-22.jpg" alt="logo" />
      </a>
    </div>
    <div class="col-4 col-md-2 col-lg-1 p-1">
      <a href="#">
        <img class="img-fluid px-3" src="/img/logo-23.jpg" alt="logo" />
      </a>
    </div>
    <div class="col-4 col-md-2 col-lg-1 p-1">
      <a href="#">
        <img class="img-fluid px-3" src="/img/logo-24.jpg" alt="logo" />
      </a>
    </div>
  </div>
  <div class="row m-0 my-2 d-none d-lg-flex">
    <div class="col-4 col-md-2 col-lg-1 p-1">
      <a href="#">
        <img class="img-fluid px-3" src="/img/logo-25.jpg" alt="logo" />
      </a>
    </div>
    <div class="col-4 col-md-2 col-lg-1 p-1">
      <a href="#">
        <img class="img-fluid px-3" src="/img/logo-26.jpg" alt="logo" />
      </a>
    </div>
    <div class="col-4 col-md-2 col-lg-1 p-1">
      <a href="#">
        <img class="img-fluid px-3" src="/img/logo-27.jpg" alt="logo" />
      </a>
    </div>
    <div class="col-4 col-md-2 col-lg-1 p-1">
      <a href="#">
        <img class="img-fluid px-3" src="/img/logo-28.jpg" alt="logo" />
      </a>
    </div>
    <div class="col-4 col-md-2 col-lg-1 p-1">
      <a href="#">
        <img class="img-fluid px-3" src="/img/logo-29.jpg" alt="logo" />
      </a>
    </div>
    <div class="col-4 col-md-2 col-lg-1 p-1">
      <a href="#">
        <img class="img-fluid px-3" src="/img/logo-30.jpg" alt="logo" />
      </a>
    </div>
    <div class="col-4 col-md-2 col-lg-1 p-1">
      <a href="#">
        <img class="img-fluid px-3" src="/img/logo-31.jpg" alt="logo" />
      </a>
    </div>
    <div class="col-4 col-md-2 col-lg-1 p-1">
      <a href="#">
        <img class="img-fluid px-3" src="/img/logo-32.jpg" alt="logo" />
      </a>
    </div>
    <div class="col-4 col-md-2 col-lg-1 p-1">
      <a href="#">
        <img class="img-fluid px-3" src="/img/logo-33.jpg" alt="logo" />
      </a>
    </div>
    <div class="col-4 col-md-2 col-lg-1 p-1">
      <a href="#">
        <img class="img-fluid px-3" src="/img/logo-34.jpg" alt="logo" />
      </a>
    </div>
    <div class="col-4 col-md-2 col-lg-1 p-1">
      <a href="#">
        <img class="img-fluid px-3" src="/img/logo-35.jpg" alt="logo" />
      </a>
    </div>
    <div class="col-4 col-md-2 col-lg-1 p-1">
      <a href="#">
        <img class="img-fluid px-3" src="/img/logo-36.jpg" alt="logo" />
      </a>
    </div>
  </div>
  <div class="row m-0 mb-4">
    <div class="col-12">
      <div class="branding-footer text-right">
        <a class="btn btn-light-brown text-white bg-light-brown" href="#">Vyberte ze značek ></a>
      </div>
    </div>
  </div>
</div>