<div class="container-fluid p-0">
  <div class="row m-0 my-4">
    <div class="col-12">
      <div class="news-header">
        <h5>
          <span class="font-weight-bold text-light-brown">Novinky:</span>
        </h5>
      </div>
    </div>
  </div>
  <div class="row m-0 my-2 pb-1">
    <div class="col-12">
      <div class="product-carousel">

        {for $i = 0; $i < 10; $i++} <div class="product-block text-center position-relative">
          <a class="product-block__product-url no-hover-underline" href="#"
             title="Dámské šaty May S/S Dress Noos Night Sky Block High Rish Red">
            <div class="product-block--product-image-box">
              <img class="product-block--product-image-box__image mx-auto img-fluid py-4" src="/img/product-02.jpg"
                   alt="foto" />
            </div>
            <div class="product-block--product-title">
              <span
                    class="product-block--product-title__brand text-dark-brown no-hover-underline font-weight-bold py-2">ONLY</span><br />
              <span class="product-block--product-title__item text-dark-brown no-hover-underline">Dámské šaty May S/S
                Dress Noos</span>
            </div>
            <div class="product-block--product-info py-3">
              <span class="product-block--product-info__delivery no-hover-underline px-2">do 1.4. u vás</span>
              <span
                    class="product-block--product-info__label product-info-novinka no-hover-underline px-1 rounded">Novinka</span>
            </div>
            <div class="product-block--product-price">
              <span
                    class="product-block--product-price__price text-dark-brown no-hover-underline font-weight-bold d-block pb-4">4
                450 Kč</span>
            </div>
          </a>
          <div class="product-block--product-variant">
            <span class="product-block--product-variant__size px-1"><a class="text-dark-brown" href="#XS">XS</a></span>
            <span class="product-block--product-variant__size px-1"><a class="text-dark-brown" href="#L">L</a></span>
            <span class="product-block--product-variant__size px-1"><a class="text-dark-brown" href="#XL">XL</a></span>
          </div>
          <div class="product-block--color-overlay"></div>
          <div class="product-block--color-overlay"></div>
          <div class="product-block--add-to-favourite"><a class="product-block--add-to-favourite__link" href="#favorite"
               title="Přidat do inspirace"><i class="fas fa-heart fa-2x"></i></a></div>

      </div>

      <div class="product-block text-center position-relative">
        <a class="product-block__product-url no-hover-underline" href="#"
           title="POLAR M200 černý M/L s řemínkem - červený">
          <div class="product-block--product-image-box">
            <img class="product-block--product-image-box__image mx-auto img-fluid py-4" src="/img/product-01.png"
                 alt="foto" />
          </div>
          <div class="product-block--product-title">
            <span
                  class="product-block--product-title__brand text-dark-brown no-hover-underline font-weight-bold py-2">ONLY</span><br />
            <span class="product-block--product-title__item text-dark-brown no-hover-underline">POLAR M200 černý M/L s
              řemínkem</span>
          </div>
          <div class="product-block--product-info py-3">
            <span class="product-block--product-info__delivery no-hover-underline px-2">do 1.4. u vás</span>
            <span
                  class="product-block--product-info__label product-info-doprava-zdarma no-hover-underline px-1 rounded">Doprava
              zdarma</span>
          </div>
          <div class="product-block--product-price">
            <span
                  class="product-block--product-price__price text-dark-brown no-hover-underline font-weight-bold d-block pb-4">4
              450 Kč</span>
          </div>
        </a>

        <div class="product-block--color-overlay"></div>
        <div class="product-block--color-overlay"></div>
        <div class="product-block--add-to-favourite"><a class="product-block--add-to-favourite__link" href="#favorite"
             title="Přidat do inspirace"><i class="fas fa-heart fa-2x"></i></a></div>

      </div>

      {/for}

    </div>
  </div>
</div>
<div class="row m-0 mb-4">
  <div class="col-12">
    <div class="news-footer text-right">
      <a class="btn btn-light-brown text-white bg-light-brown" href="#">Vyberte z novinek ></a>
    </div>
  </div>
</div>
</div>