<div class="container-fluid p-0">
  <div class="row m-0 my-1">
    <div class="col-12">
      <div class="related-products-header">
        <h5>
          <span class="font-weight-bold text-dark-brown">Prohlíželi jste tyto produkty</span>
        </h5>
      </div>
    </div>
  </div>
  <div class="row m-0 my-2">
    <div class="col-3 col-md-2 col-lg-1 p-1">
      <a href="#">
        <img class="img-fluid px-3" src="/img/related-01.jpg" alt="product" />
      </a>
    </div>
    <div class="col-3 col-md-2 col-lg-1 p-1">
      <a href="#">
        <img class="img-fluid px-3" src="/img/related-02.jpg" alt="product" />
      </a>
    </div>
    <div class="col-3 col-md-2 col-lg-1 p-1">
      <a href="#">
        <img class="img-fluid px-3" src="/img/related-03.jpg" alt="product" />
      </a>
    </div>
  </div>
</div>