<div class="container-fluid p-0">
  <div class="row m-0 my-4">
    <div class="col-lg-9 col-xl-8 p-0 px-lg-3">
      <div id="mainCarousel" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a href="#">
              <img class="w-100" src="/img/sl-01.jpg" alt="sl" />
            </a>
          </div>
          <!-- End Item -->

          <div class="carousel-item">
            <a href="#">
              <img class="w-100" src="/img/sl-02.jpg" alt="sl" />
            </a>
          </div>
          <!-- End Item -->

          <div class="carousel-item">
            <a href="#">
              <img class="w-100" src="/img/sl-03.jpg" alt="sl" />
            </a>
          </div>
          <!-- End Item -->

          <div class="carousel-item">
            <a href="#">
              <img class="w-100" src="/img/sl-04.jpg" alt="sl" />
            </a>
          </div>
          <!-- End Item -->

          <div class="carousel-item">
            <a href="#">
              <img class="w-100" src="/img/sl-05.jpg" alt="sl" />
            </a>
          </div>
          <!-- End Item -->
        </div>

        <ul
            class="nav nav-pills nav-fill align-items-center text-center position-relative p-2 d-none d-md-flex carousel--navigation">
          <li data-target="#mainCarousel" data-slide-to="0" class="nav-item carousel--tab-link active">
            <a class="nav-link" href="#">Oblékněte Desigual se slevou 30 %</a>
          </li>
          <li data-target="#mainCarousel" data-slide-to="1" class="nav-item carousel--tab-link">
            <a class="nav-link" href="#">Hydratace se Skin Food + dárek</a>
          </li>
          <li data-target="#mainCarousel" data-slide-to="2" class="nav-item carousel--tab-link">
            <a class="nav-link" href="#">Novinky Timex</a>
          </li>
          <li data-target="#mainCarousel" data-slide-to="3" class="nav-item carousel--tab-link">
            <a class="nav-link" href="#">Sleva 25 % na šperky Oliver Weber</a>
          </li>
          <li data-target="#mainCarousel" data-slide-to="4" class="nav-item carousel--tab-link">
            <a class="nav-link" href="#">Luxusní parfémy Chloé</a>
          </li>
        </ul>
      </div>
      <!-- End Carousel -->
    </div>
    <div
         class="col-12 col-lg-3 col-xl-2 banners px-lg-4 px-xl-0 d-sm-flex justify-content-between d-lg-block py-4 p-lg-0">
      <div class="banners--item my-2 my-sm-0 mb-lg-3 mb-xl-4">
        <a href="#">
          <img class="w-100" src="/img/prom-01.jpg" alt="pr" />
        </a>
      </div>
      <div class="banners--item my-2 my-sm-0 mb-lg-3 mb-xl-4">
        <a href="#">
          <img class="w-100" src="/img/prom-02.jpg" alt="pr" />
        </a>
      </div>
      <div class="banners--item ">
        <a href="#">
          <img class="w-100" src="/img/prom-03.jpg" alt="pr" />
        </a>
      </div>
    </div>
    <div class="col-12 col-xl-2 d-sm-flex justify-content-between d-xl-block">
      <div class="icon-info text-center p-2">
        <div class="icon-info--icon py-2">
          <img src="/img/ico-01.png" alt="icon" />
        </div>
        <div class="icon-info--info">
          <p>
            <a class="text-dark-brown" href="#">Od hlavy až k patě<br />Od kabelky po parfém</a>
          </p>
        </div>
      </div>
      <div class="icon-info text-center p-2">
        <div class="icon-info--icon py-2">
          <img src="/img/ico-02.png" alt="icon" />
        </div>
        <div class="icon-info--info">
          <p>
            <a class="text-dark-brown" href="#">Sleva na další<br />nákup pro každého</a>
          </p>
        </div>
      </div>
      <div class="icon-info text-center p-2">
        <div class="icon-info--icon py-2">
          <img src="/img/ico-03.png" alt="icon" />
        </div>
        <div class="icon-info--info">
          <p>
            <a class="text-dark-brown" href="#">Blesková doprava<br />dnes u nás, zítra u vás</a>
          </p>
        </div>
      </div>
      <div class="icon-info text-center p-2">
        <div class="icon-info--icon py-2">
          <img src="/img/ico-04.png" alt="icon" />
        </div>
        <div class="icon-info--info">
          <p>
            <a class="text-dark-brown" href="#">6 měsíců na vrácení<br />kousků, které vám nepadnou</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>